#addNewTodo {
    flex-basis: 100%;
    max-width: 100%;
}

#title input {
    width:16%;
    min-width: 100px;
}

#list-title {
    padding-right: 14px;
}

.title{
    font-family: Cursive;
}

body {
    line-height: 1;
    font-family: Cursive;
    background-color: lightblue;
}

.greenTodos, .redTodos{
    font-family: cursive;

}
.greenTodos{
    border-right: 10px solid green;
    font-weight: normal;
}

.redTodos{
    font-weight: bold;
    border-right: 10px solid red;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.mainMatCard {
    text-align:center;
}

mat-expansion-panel-header, mat-panel-description {
    font-weight: bold;
    -webkit-box-shadow: 0 8px 10px -6px black
}

fineprint {
    font-weight: normal;
    font-size: .5px;
}
